@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');

*{
    
    padding: 0;
    margin: auto 0;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
    
}


nav a {
    text-align: center;
    text-decoration: none;
    color: #396E94;
    font-family:"Montserrat", Helvetica, sans-serif ;
    padding: 35px;
}

h1, h2{
    font-family:"Montserrat", Helvetica, sans-serif;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color:#396E94;
    font-family:"Fatface","IM Fell French Canon" ;
    font-size: 22px;
}

header{
    background-color:#8ab9b5;
    color:#396E94;
}

nav a:hover{
    background-color: #2b4141;
}

.book, .join{
    background-color:#6cb3e6;
    padding: 15px 30px;
    font-family:"Montserrat", Helvetica, sans-serif;
}

.book:hover, .join:hover{
    background-color:#8ab9b5;
}

#background{
    background-color:#2b4141;
}

.msg{
    background-color:#2b4141;
    font-family:"Montserrat", Helvetica, sans-serif;
    padding: 35px;
    line-height: 1.5em;
    margin-top: 200px;
}



footer{
    background-color:#8ab9b5;
    color:#396E94;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p{
    font-size: 1.2em;
}

footer p:hover{
    text-decoration: underline;
}

nav a:hover{
    color:#396E94;
}

.home-title{
    color:#396E94;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color:#8ab9b5;
    font-family:"Montserrat", Helvetica, sans-serif ;
    padding-bottom: 30px;
    font-weight: lighter;

}

h2{
    margin:0;
}
.join{
    margin-top: 50px; 
}

.book, .join {
    color:#2a5350;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border: solid #6cb3e6 10px;
    border-radius: 5px;
}


.book:hover, .join:hover{
color: #396E94;
border-color: #8ab9b5;
}


.msg h2{
    color:#8ab9b5;
    font-family:"Montserrat", Helvetica, sans-serif; 

}
.msg p{
    color:#8ab9b5;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 30px;
}

footer a{
    color: #396E94;
    text-decoration: none;
}
footer a:hover{
    color:#2b4141;
}

footer .social img{
    padding-top: 15px;
}

.logo{
    width: 80px;
}

.icon{
 width: 80px;
 padding-top: 10px;
}

#hero-img{
    width: 100%;
}

#logo_link{
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card{
    margin:200px 0;
}

.card-img{
    border: #8ab9b5 solid 5px;
}


main section img {
    box-sizing:border-box;

}